@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;

		--theme-bg-primary: #b20b35;
		--theme-bg-seconday: #f7dfe5;
		--theme-bg-subtle: #faf5f6;
		--theme-bg-light: #ffffff;
		--theme-icon: #cc0d3d;
		--theme-icon-bg: var(--theme-bg-seconday);
		--theme-text: #330813;
		--theme-text-on-primary: #ffffff;
		--theme-text-on-secondary: var(--theme-icon);

		--warning-mid: #e58a9a;
		--warning-dark: #b20b2a;
		--warning-secondary-bg: #fad2d9;
	}

	.blue {
		--theme-bg-primary: #0e0bb2;
		--theme-bg-seconday: #dfdff7;
		--theme-bg-subtle: #f5f5fa;
		--theme-bg-light: #ffffff;
		--theme-icon: #100dcc;
		--theme-icon-bg: var(--theme-bg-seconday);
		--theme-text: #090833;
		--theme-text-on-primary: #ffffff;
		--theme-text-on-secondary: var(--theme-icon);
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-theme-text;
	}
}

body {
	font-family: 'Manrope', sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
select:focus,
textarea {
	font-size: 16px;
}

.gradient {
	background: linear-gradient(
		var(--theme-bg-primary),
		var(--theme-bg-seconday)
	);
}

[data-theme-check='true'] svg {
	display: block;
}
